@model dynamic

@{
	ViewBag.Title = "Hello there!";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
	Here is a bunch of stuff that goes on this page. Know what I'm sayin?
</p>
<p>
	Here is some stuff I added for the next version. Let's see what get's deployed. 
</p>
<p>
	This was added in v1.0.0.5
</p>
<p>
	Dude. What's up with this!
</p>
