@model dynamic

@{
	ViewBag.Title = "Hello there!";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
	Here is a bunch of stuff that goes on this page. Know what I'm sayin?
</p>
